<div class="row justify-content-center pt-5">
  <div class="col-2">
    <h1 *ngIf="isAddMode">Add Department</h1>
    <h1 *ngIf="!isAddMode">Edit Department</h1>
  </div>
  <hr />
</div>

<div class="container my-5 vh-100">
  <div class="d-flex justify-content-center my-5">
    <form class="form" [formGroup]="departmentForm" (ngSubmit)="onSubmit()">
      <!-- 2 column grid layout with text inputs for the first and last names -->
      <!-- Text input -->
      <input hidden formControlName="id" type="text" />
      <div class="form-floating mb-4">
        <input
          type="text"
          id="form6Example3"
          class="form-control"
          formControlName="departmentCode"
        />
        <label class="form-label" for="form6Example3">Department Code</label>
        <div
          class="alert alert-danger"
          *ngIf="
            departmentCode?.invalid &&
            (departmentCode?.touched || departmentCode?.dirty)
          "
        >
          <div *ngIf="departmentCode?.errors?.['required']">
            Department Code can't be empty
          </div>
          <div *ngIf="departmentCode?.errors?.['minlength']">
            Department Code must be at least 3 characters long
          </div>
        </div>
      </div>
      <div class="form-floating mb-4">
        <input
          type="text"
          id="form6Example3"
          class="form-control"
          formControlName="departmentName"
        />
        <label class="form-label" for="form6Example3">Department Name</label>
        <div
          class="alert alert-danger"
          *ngIf="
            departmentName?.invalid &&
            (departmentName?.touched || departmentName?.dirty)
          "
        >
          <div *ngIf="departmentName?.errors?.['required']">
            Department Name can't be empty
          </div>
          <div *ngIf="departmentName?.errors?.['minlength']">
            Department Name must be at least 3 characters long
          </div>
        </div>
      </div>

      <!-- Submit button -->
      <button type="submit" class="btn btn-primary btn-block mb-4">
        {{ btnText }}
      </button>
      <span *ngIf="errorMessage" class="text-danger">{{ errorMessage }}</span>
    </form>
  </div>
</div>
