<div>
  <div
    id="carouselExampleIndicators"
    class="carousel slide"
    data-bs-ride="carousel"
  >
    <div class="carousel-indicators">
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="0"
        class="active"
        aria-current="true"
        aria-label="Slide 1"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="1"
        aria-label="Slide 2"
      ></button>
      <button
        type="button"
        data-bs-target="#carouselExampleIndicators"
        data-bs-slide-to="2"
        aria-label="Slide 3"
      ></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          src="../../../../assets/Image/bgc1.jpg"
          class="d-block w-100 slide"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../../assets/Image/bgc2.jpg"
          class="d-block w-100 slide"
          alt="..."
        />
      </div>
      <div class="carousel-item">
        <img
          src="../../../../assets/HomePage/images/banner1.jpg"
          class="d-block w-100 slide"
          alt="..."
        />
      </div>
    </div>
    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleIndicators"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!-- About  -->

  <!-- About Section -->
  <section class="about-us my-2" id="about">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-6 about-info1">
          <img
            src="../../../../assets/HomePage/images/about-img.jpg"
            alt="about"
            class="img-fluid"
          />
        </div>
        <div class="col-lg-6 about-info2">
          <div class="about-details">
            <h2>About Us</h2>
            <p>
              Lorem Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500s, when an unknown printer took a galley of
              type and scrambled it to make a type specimen book. It has
              survived not only five centuries, but also the leap into
              electronic typesetting, remaining essentially unchanged.Lorem
              Ipsum is simply dummy text of the printing and typesetting
              industry. Lorem Ipsum has been the industry's standard dummy text
              ever since the 1500.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- /About Section -->

  <section class="our-services" id="service">
    <h3 class="text-center">Our Amazing Services</h3>
    <p class="text-center">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-6 serv-part">
          <div class="row row-cols-2">
            <div class="col-xs-6">
              <i class="fa fa-desktop" aria-hidden="true"></i>
            </div>
            <div class="col-xs-6">
              <div class="serv-info">
                <h4>CSE</h4>
                <p class="serv">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 serv-part">
          <div class="row row-cols-2">
            <div class="col-xs-6">
              <i class="fa fa-cloud" aria-hidden="true"></i>
            </div>
            <div class="col-xs-6">
              <div class="serv-info">
                <h4>BBA</h4>
                <p class="serv">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 serv-part">
          <div class="row row-cols-2">
            <div class="col-xs-6">
              <i class="fa fa-medkit" aria-hidden="true"></i>
            </div>
            <div class="col-xs-6">
              <div class="serv-info">
                <h4>Pharmacy</h4>
                <p class="serv">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 serv-part">
          <div class="row row-cols-2">
            <div class="col-xs-6">
              <i class="fa fa-book" aria-hidden="true"></i>
            </div>
            <div class="col-xs-6">
              <div class="serv-info">
                <h4>English</h4>
                <p class="serv">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 serv-part">
          <div class="row row-cols-2">
            <div class="col-xs-6">
              <i class="fa fa-users" aria-hidden="true"></i>
            </div>
            <div class="col-xs-6">
              <div class="serv-info">
                <h4>Law</h4>
                <p class="serv">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-6 serv-part">
          <div class="row row-cols-2">
            <div class="col-xs-6">
              <i class="fa fa-graduation-cap" aria-hidden="true"></i>
            </div>
            <div class="col-xs-6">
              <div class="serv-info">
                <h4>MBA</h4>
                <p class="serv">
                  Lorem Ipsum is simply dummy text of the printing and
                  typesetting industry.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Gallery Section -->
  <section class="our-gallery">
    <h3 class="text-center text-black">Our Gallery</h3>
    <p class="text-center text-black">Moment of Our Programme</p>
    <div
      class="container mx-auto row row-cols-2 row-cols-lg-4 justify-content-center gy-2"
    >
      <img
        src="../../../../assets/HomePage/images/p10.jpg"
        class="img-responsive"
      />
      <img
        src="../../../../assets/HomePage/images/p9.jpg"
        class="img-responsive"
      />
      <img
        src="../../../../assets/HomePage/images/p6.jpg"
        class="img-responsive"
      />
      <img
        src="../../../../assets/HomePage/images/p4.jpg"
        class="img-responsive"
      />
      <img
        src="../../../../assets/HomePage/images/p5.jpg"
        class="img-responsive"
      />
      <img
        src="../../../../assets/HomePage/images/p1.jpg"
        class="img-responsive"
      />
      <img
        src="../../../../assets/HomePage/images/p12.jpg"
        class="img-responsive"
      />
      <img
        src="../../../../assets/HomePage/images/p7.jpg"
        class="img-responsive"
      />
      <img
        src="../../../../assets/HomePage/images/p9.jpg"
        class="img-responsive"
      />
      <img
        src="../../../../assets/HomePage/images/p6.jpg"
        class="img-responsive"
      />
      <img
        src="../../../../assets/HomePage/images/p8.jpg"
        class="img-responsive"
      />
      <img
        src="../../../../assets/HomePage/images/p11.jpg"
        class="img-responsive"
      />
    </div>
  </section>
  <!-- /Gallery section -->

  <!-- Contact -->
  <section class="contact-us">
    <h3 class="text-center">Contact Us</h3>
    <p class="text-center">
      Lorem Ipsum is simply dummy text of the printing and typesetting industry.
    </p>
    <div class="container">
      <div class="row">
        <div class="col-lg-5 col-md-5">
          <div class="contact-info">
            <h4>Connect With Us :-</h4>
            <p><strong>Phone :</strong> 03033-56193</p>
            <p>
              <strong>Email :</strong>
              <a href="mailto:info@bgctub.ac.bd">info@bgctub.ac.bd</a>
            </p>
            <p class="addr">
              <strong>Address :</strong> "BGC Biddyanagar" Chandanaish
              Chattogram, Bangladesh.
            </p>
          </div>
        </div>
        <div class="col-lg-7 col-md-7">
          <form action="#" method="post">
            <div class="row">
              <div class="col-sm-12 form-group">
                <input
                  class="form-control"
                  id="name"
                  name="name"
                  placeholder="Name"
                  type="text"
                  required
                />
              </div>
            </div>
            <div class="row email-bar">
              <div class="col-sm-12 form-group">
                <input
                  class="form-control"
                  id="email"
                  name="email"
                  placeholder="Email"
                  type="email"
                  required
                />
              </div>
            </div>
            <textarea
              class="form-control"
              id="comments"
              name="comments"
              placeholder="Comment"
              rows="5"
            ></textarea
            ><br />
            <div class="row">
              <div class="col-sm-12 form-group">
                <button class="btn btn-secondary btn-lg" type="submit">
                  Send
                </button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
  <!-- /Contact -->
</div>
