<div class="container py-5">
  <div class="d-flex justify-content-between">
    <div>
      <h1 class="text-center">Course Assign Teacher List</h1>
    </div>
    <div>
      <a class="btn" routerLink="/teacher/course-assign">Assign Course</a>
    </div>
  </div>

  <div class="row justify-content-center">
    <div class="col-6">
      <select class="form-select mb-4" (change)="onChangeDepartment($event)">
        <option selected>---Select Department---</option>
        <option value="{{ dep.id }}" *ngFor="let dep of departments">
          {{ dep.departmentName }}
        </option>
      </select>
    </div>
  </div>

  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Code</th>
        <th>Course Name</th>
        <th>Semester</th>
        <th>AssignTo</th>
      </tr>
    </thead>
    <tbody *ngFor="let course of courses">
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1">
                {{ course.courseCode }}
              </p>
              <!-- <p class="text-muted mb-0">{{ course.courseCode }}</p> -->
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ course.courseName }}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ course.semesterName }}</p>
        </td>
        <!-- <td>
              <span class="badge badge-success rounded-pill d-inline">{{
                student.contactNo
              }}</span>
            </td> -->
        <td>{{ course.teacherName }}</td>
        <!-- <td>{{ student.address }}</td> -->
      </tr>
    </tbody>
  </table>
</div>
