<div class="container py-5">
  <div class="d-flex justify-content-between">
    <div>
      <h1 class="text-center">Course List</h1>
    </div>
    <div>
      <a class="btn" routerLink="/course/add">Add Course</a>
    </div>
  </div>

  <table class="table align-middle mb-0 bg-white">
    <thead class="bg-light">
      <tr>
        <th>Course Code</th>
        <th>Course Name</th>
        <th>Credit</th>
        <th>Description</th>
        <th>Department</th>
        <th>Semester</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody *ngFor="let course of courses">
      <tr>
        <td>
          <div class="d-flex align-items-center">
            <div class="ms-3">
              <p class="fw-bold mb-1">
                {{ course.courseCode }}
              </p>
              <!-- <p class="text-muted mb-0">{{ course.courseCode }}</p> -->
            </div>
          </div>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ course.courseName }}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ course.credit }}</p>
        </td>
        <!-- <td>
          <span class="badge badge-success rounded-pill d-inline">{{
            student.contactNo
          }}</span>
        </td> -->
        <td>{{ course.description }}</td>
        <td>
          <p class="fw-normal mb-1">{{ course.departmentTB.departmentName }}</p>
        </td>
        <td>
          <p class="fw-normal mb-1">{{ course.semester.semesterName }}</p>
        </td>
        <!-- <td>{{ student.address }}</td> -->
        <td>
          <div class="row">
            <div class="col-lg-3">
              <button
                type="button"
                class="btn btn-secondary btn-sm btn-rounded"
                routerLink="/course/edit/{{ course.id }}"
              >
                Edit
              </button>
            </div>
            <div class="col-lg-2">
              <button
                type="button"
                class="btn btn-danger btn-sm btn-rounded"
                (click)="onDeleteCourse(course.id)"
              >
                Delete
              </button>
            </div>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
</div>
